<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

  
      <div class="ui-g">
        <div class="ui-g-12">
          <h1>Nova Miniatura</h1>
        </div>
  
        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Modelo</label>
          <input pInputText type="text" name="modelo" [(ngModel)]="miniatura.modelo">
        </div>
        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Marca</label>
          <input pInputText type="text" name="marca" [(ngModel)]="miniatura.marca">
        </div>
        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Coleção</label>
          <input pInputText type="text" name="colecao" [(ngModel)]="miniatura.colecao">
        </div>
        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Escala</label>
          <input pInputText type="text"[(ngModel)]="miniatura.escala" name="escala" >
        </div>
        <div class="ui-g-6 ui-md-3 ui-fluid">
          <label>Ano</label>
          <input pInputText type="text" [(ngModel)]="miniatura.ano" name="ano">
        </div>
    
        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <button id="novo" pButton type="button" label="Novo" class="ui-button-info"></button>
          <a pButton label="Voltar para a lista" routerLink="/miniaturas"></a>
        </div>
      </div>
  
    </form>
  </div>