.titulo{
    text-align: center;
}

.hwlogo{
    width: 40vh;
}

.matchbox{
    width: 40vh;
}

.container{
    display: inline;
    position: relative;
    left: 46vh;
}

.btn-cadastro{
    margin-left: 1vh;
}