<h1 class="titulo">Controle de Miniaturas</h1>
<div>
    <a style="margin-left:14vh;" class="btn-lista" pButton label="Lista de miniaturas" routerLink="/miniaturas"></a>
    <a class="btn-cadastro" pButton label="Cadastrar uma nova" routerLink="/miniaturas/novo"></a>
</div>
<div class="container">
    <img class="hwlogo" src="assets\imagens/HWlogo.png" alt="Logo da Hotwheels">
    <img class="greelogo" src="assets\imagens/greenligthLogo.png" alt="Logo da Greenligth">
    <img class="matchbox" src="assets\imagens/Matchbox.png" alt="Logo da Matchbox">
</div>